.box {
	height: 400px;
	width: 390px;
	display: inline-block;
	background-color: yellow;
}

.box:hover {
	background-color: red;
}

.box-wrapper {
	width: 800px;
	margin: 0 auto;
}

.title {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 25px;
	font-family: Open Sans;
}