.box {
	height: 300px;
	display: inline-block;
	background-color: #3498db;
  	filter: grayscale(100%);
  	-webkit-filter: grayscale(100%);
  	border: 1px solid black;
}

.box:hover {
	filter: none;
  	-webkit-filter: none;
  	cursor: pointer;
	background-color: #e74c3c;
}

.box-wrapper {
	width: 1250px;
	margin: 0 auto;
}

.title {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 25px;
	font-family: Open Sans;
	color: #2c3e50;
}

body {
	background-color: #ecf0f1;
}